@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.ttf');
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Medium.ttf');
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

body {
	font-family: 'Noto Sans', serif;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 5px;
}

.btn {
	padding: 10px 20px;
	border-radius: 20px;

	background: #198c36;
}

.site-header {
	min-height: 98px;
	background: #163a24;
}
.site-nav {
	display: flex;
	padding-top: 20px;
	align-items: center;
	justify-content: space-between;
}
.links-box {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.links-box > a {
	text-decoration: none;
	color: #fff;
}

.main-content {
	min-height: calc(100vh - 98px);
	background-image: url('../img/main-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top 0 right 0;
	background-color: #163a24;
}
.main-text {
	padding-top: 120px;
	width: 40%;
}
.main-text__heading {
	font-size: 48px;
	color: #fff;
	font-weight: 600;
	font-family: 'Comfortaa';
}
.main-text__paragraph {
	font-size: 18px;
	color: #fff;
}

.offer-section {
	margin-top: 130px;
}
.offer-box {
	display: flex;
	align-items: center;
}
.offer-text-box {
	margin-left: 100px;
	width: 375px;
}
.offer-heading {
	font-size: 48px;
	font-weight: 600;
	font-family: 'Comfortaa';
}
.offer-text {
	font-size: 18px;
}
.offer-box--reverse {
	flex-direction: row-reverse;
}

.offer-box--reverse > .offer-text-box {
	margin-left: 0;
	margin-right: 100px;
}
.partner-heading {
	margin-top: 120px;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	font-family: 'Comfortaa';
}
.parners-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}

.quality {
	margin-top: 120px;
	padding-bottom: 100px;
	background-color: #163a24;
}
.dark {
	padding-top: 60px;
	color: #fff;
}
.between {
	justify-content: space-between;
}
.center {
	text-align: center;
}
.faeture-text {
	font-size: 18px;
	color: #fff;
}

.shapes {
	padding-top: 120px;
	background-color: #f2efe6;
	text-align: center;
	padding-bottom: 140px;
}
.shapes-heading {
	margin: 0;
	font-size: 48px;
	margin-bottom: 27px;
	font-family: 'Comfortaa';
}

.shapes-text {
	font-size: 18px;
}

.together {
	padding: 120px 0 112px 0;
}